########################################################################
# File managed by Salt (frr-formula).
# Your changes will be overwritten.
########################################################################

{%- from "frr/map.jinja" import map with context %}

{%- set defaults = {
  "hostname": grains['id'].split('.')[0],
  "log file": False,
  "log syslog": 'informational',
} %}

{%- set common = salt['pillar.get']("frr:common_config", defaults, True) %}

{%- if map.use_integrated_mode %}
{%-   set config = {} %}
{%-   set interfaces = {} %}
{%-   set routers = {} %}
{%-   for protocol, service_config in salt['pillar.get']("frr:services", {}).items() %}
{%-     if service_config is mapping %}
{%-       do salt['defaults.merge'](config, service_config.get('config', {})) %}
{%-       do salt['defaults.merge'](interfaces, service_config.get('interfaces', {})) %}
{%-       do salt['defaults.merge'](routers, service_config.get('routers', {})) %}
{%-     endif %}
{%-   endfor %}
{%- else %}
{%-   set config = salt['pillar.get']("frr:services:{}:config".format(protocol), defaults, True) %}
{%-   set interfaces = salt['pillar.get']("frr:services:{}:interfaces".format(protocol), {}, True) %}
{%-   set routers = salt['pillar.get']("frr:services:{}:routers".format(protocol), {}, True) %}
{%- endif %}

{%- macro print_settings(settings_, indent_=0) %}
{%-   for key, value in settings_.items() %}
{%-     if value is sameas False -%}
no {{ key }}
{%      elif value is string or value is number -%}
{{ key }} {{ value }}
{%      elif value is mapping %}
{{ key }}
{{ print_settings(value, indent_+1) | indent(indent_+1, True) }}
{%-     elif value is iterable -%}
{%-       for v in value -%}
{{ key }} {{ v }}
{%        endfor %}
{%-     else -%}
{{ key }}
{%      endif %}
{%-   endfor %}
{%- endmacro %}

{{ print_settings(common) }}
{{ print_settings(config) }}

{%- for interface, settings in interfaces.items() %}
interface {{ interface }}
{{ print_settings(settings, 1) | indent(1, True) }}
{%- endfor %}

{%- for router, settings in routers.items() %}
{%-   if settings %}
router {{ router }}
{{ print_settings(settings, 1) | indent(1, True) }}
{%-   endif %}
{%- endfor %}
