frr:
  # see
  # - defaults.yaml
  # - osfamilymap.yaml
  # - osmap.yaml
  #
  # Here some default values are shown:
  lookup:
    user: frr
    group: frr
    vtygroup: frr
    # The name of the package
    package: frr
    package_auto_upgrade: False
    # Used to fetch FRR directly from the releases page on GitHub.
    package_url: False
    #package_url: https://github.com/FRRouting/frr/releases/download/frr-6.0/frr_6.0-1.debian9+1_arm64.deb
    # Hash to proove the integrity of the package file. (Only used with package_url.)
    package_hash: False
    #package_hash: sha256=f20cee43e94d136383d27531b848248e8f605e68b20fd257dd17d17228402bf7
    # Configure custom repos for CentOS.  frr and frr-extras required.
    # Replace change el8 in the URLs to match your CentOS version.
    #custom_repos:
    #  - name: frr
    #    humanname: FRRouting Packages for Enterprise Linux 8 - $basearch
    #    baseurl: https://rpm.frrouting.org/repo/el8/frr
    #    enabled: 1
    #    gpgcheck: 1
    #    gpgkey: file:///etc/pki/rpm-gpg/RPM-GPG-KEY-FRR
    #  - name: frr-extras
    #    humanname: FRRouting Dependencies for Enterprise Linux 8 - $basearch
    #    baseurl: https://rpm.frrouting.org/repo/el8/extras
    #    enabled: 1
    #    gpgcheck: 1
    #    gpgkey: file:///etc/pki/rpm-gpg/RPM-GPG-KEY-FRR

  # Configuration common to all services
  common_config:
    log syslog: debugging
    password: SuperSecurePassword

  # set this for all enabled services
  common_flags:
    vty_addr: '127.0.0.1'

  # Services not listed here won't be touched.
  services:
    # Babel example
    babel:
      enable: True

    # RIP example
    rip:
      enable: False

    # OSPF example
    # with two tap devices (OpenVPN) and redistribution of loopback addresses
    ospf:
      flags:
        moduledir: '/opt/my/ospf/modules'
      config:
        ip prefix-list OSNET seq 10: permit 192.168.255.0/24 le 32
        route-map OSMAP permit 5:
          match ip address prefix-list: OSNET
      interfaces:
        tap0:
          ip ospf network:
            point-to-multipoint
        tap1:
          ip ospf network:
            point-to-multipoint
      routers:
        # allows for multiple router instances
        ospf:
          network:
            - 192.168.1.0/24 area 0
            - 192.168.3.0/24 area 0
          ospf router-id: 192.168.255.252
          passive-interface:
            - eth0
          redistribute:
            - connected route-map OSMAP
    zebra:
      config:
        ip prefix-list OSNET seq 10: permit 192.168.255.0/24 le 32
        ip protocol connected: route-map OSMAP
        ip protocol ospf: route-map OSMAP
        route-map OSMAP permit 5:
          match ip address prefix-list: OSNET

# Use quagga
 frr:
   lookup:
     use_integrated_mode: False
     package_url: False
     package: quagga
     package_auto_upgrade: True
     service: quagga
     conf_dir: /etc/quagga
     log_dir: /var/log/quagga
     run_dir: /var/run/quagga
     user: quagga
     group: quagga
     vtygroup: quaggavty
     one_service_to_start_them_all: False
