{%- from "frr/map.jinja" import map with context %}

{%- macro service_dependencies(service_name=False) -%}
- watch_in:
{%-   if service_name and not map.one_service_to_start_them_all %}
  - service: frr_{{ service_name }}_service
{%-   else %}
  - service: frr_service
{%-   endif %}
{%-   if map.use_integrated_mode %}
  - cmd: frr_reload
{%-   endif %}
{%- endmacro %}
